.image-modifier{
    display: grid;
    gap: 1.5em;
    grid-template-columns: 1fr 1fr;
    /* background-color: blueviolet; */
    margin: 1.5em;
    padding: 1.5em;
    /* border: white 1px dashed; */
}

.image-upload-card{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d1c20;
    border-radius: 1em;
    border: 1px solid rgba(255, 255, 255, 0.08);
    text-align: center;
    min-height: 20em;
    padding: 1em;
    transition: border 100ms ease-in;
}

.image-upload-card:hover{
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.colorize-button{
    border: 1px solid rgba(255, 255, 255, 0.4);
    /* padding: 0.5em 1em; */
    /* border-radius: 1em; */
    background-color: black;
    transition: 100ms ease-in;
    color: white;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    padding: 1em 2em;
    border-radius: 1.5em;
    z-index: 2;
    isolation: isolate;
}

.colorize-button:hover{
    color: black;
    /* padding: 1em 2em; */
    /* border-radius: 1.5em; */
    /* background: linear-gradient(90deg, rgb(83, 1, 83), rgb(140, 9, 31)); */
}

.ripple{
    background-color: rgba(255, 255, 255, 1); 
    z-index: -1;

    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    scale: 0;

    transition: scale 250ms ease-in;
}

.ripple.active{
    scale: 10;
}

.hidden{
    display: none;
}