.navbar{
    position: sticky;
    top: 1rem;
    width: fit-content;
    margin: 1rem auto;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    border-radius: 30px;
    border: 1px solid rgba(255,255,255,0.1);
    background-color: rgba(255, 255, 255, 0.08); 
    backdrop-filter: blur(10px);
    padding: 0.5rem;
    padding-left: 1.5em;
}

.navbar-links{
    color: white;
    text-decoration: none;
    /* margin: 0 0.1rem; */
    transition: color 0.3s ease;
    font-size: 0.875em;
    padding: 0.5rem 0;
}

.navbar-links:hover{
    color: grey;
}

.navbar-button{
    background-color: rgba(0,0,0,0.5);     
    color: white;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 0.5rem 1rem;
    font-size: 0.875em;
    transition: border 100ms ease-in;
    text-decoration: none;
}

.navbar-button:hover{
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
}