@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    /* background-color: rgb(149, 28, 165); */
    height: 500vh;

    background-color: black;
}
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


